/* font-family: 'Rufina', serif;
font-family: 'Open Sans', sans-serif; */
body{
    margin: 0;
    padding: 0;
    /* background-image: url(../img/bg_portfolio.jpg); */
    background-position: top;
}
.container{
    max-width: 1066px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.main_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
}
.nav {

}
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav__item {
     margin:  26px 2px 18px 2px; 
}
.nav__link {
    font-family: 'Rufina', serif;
    font-weight: 400; 
    font-size: 16px;
       line-height: 1;
       text-transform: uppercase;
    color: #a19795;
    text-decoration: none;
    letter-spacing: -0.01em;
    position: relative;
    padding: 17px;
}
.nav__link:after {
    position: absolute;
    bottom: 14px;
    left: 10px;
    width: calc(100% - 10px * 2);
    height: 2px;
    background-color: #a19795;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(30px);
    transition: .3s;
}
.nav__link--active, .nav__link:hover {
    font-weight: 700; 
    color: #474241;
}
.nav__link--active:after, .nav__link:hover:after {
    opacity: 1;
    transform: translateY(0);
}
/* ----------------- */
.portfolio {
    width: 100%;

display: flex;
justify-content: center;
flex-direction: column;
}

.nav__portfolio {
    margin:  29px auto 18px auto; 
}
.nav__list__portfolio {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
.nav__item__portfolio {
      
      padding: 17px 10px 12px 12px ;
}
.nav__link__portfolio {
    font-family: 'Rufina', serif;
    font-weight: 700; 
    font-size: 16px;
       line-height: 1;
       text-transform: uppercase;
    color: #6a6665;
    text-decoration: none;
    letter-spacing: 0.01em;
    position: relative;
    padding: 4px  6px  3px  5px;
  
   
}

.nav__link__portfolio--active, .nav__link__portfolio:hover {
    background: #6a6665; 

    color: #fff;
}


.portfolio_img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.portfolio_img img{

margin-top: 17px;
margin-bottom: 20px;

}


.hidden{
    display: none;
}
.hidden_1{
    display: none;
}

.link_portfolio:hover .img_1{
    display:none;

}
.link_portfolio:hover .hidden{
    display: block;

}



.main_footer{

    background: #605a58;
    min-height: 330px;
    display: flex;
    flex-direction: row;

}


.ganesh{
    box-sizing: border-box;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 56px 37px 10px 36px;
width: 74%;

}

.ganesh_krishnam{
padding: 0px 16px;



}
.ganesh_krishnam h1{
    margin: 0px;
    padding: 0px;
color: #fff;
font-size: 28px;
font-family: 'Rufina', serif;
    font-weight: 400; 
    
}
.ganesh_krishnam p{
    margin: 0px;
    padding: 12px  5px;
color: #b0adac;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    
}



.icons{
    display: flex;
flex-direction: row;
}
.icons_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 6px 6px;
    border: 1px solid #444;
    border-radius: 50%;
    background: #474241;
}

.icons_circle a{
    text-decoration: none;
    color: #605a58;
}
.icons_circle:hover{
    background: #f79440;

}
.I_am{
    color: #c2c0bf;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
        line-height: 24px;
        letter-spacing: -0.01;

}
.skills{
box-sizing: border-box;
padding: 33px 35px 0px 35px;
    width: 39%;


}
.skills h1{
    color: #fff;
    font-size: 28px;
    font-family: 'Rufina', serif;
    font-weight: 400; 

}


.graph{
    padding: 14px 0px;
    margin-left: 0px;
  }

  .graph__line{
display: flex;
flex-direction: row;
padding-left: 0px;
margin-left: 0px;
margin-bottom: 18px;
height:17px;


  }
  .graph__line p{
    margin: 0px;
  padding-right: 15px;
    padding-left: 0px;
    color: #fff;
  }



 
 .skills__item{
    width: 100%;
    color: #fff;
    padding: 0px;
    background-color: #908c8a;

  }
.skills__item__value{
padding: 0px;
margin: 0px;
background: #333;
height:100%;

}


 .skills__item:hover{
    background-color: #dfdede;  
  }
  .skills__item:hover .skills__item__value{
    background-color: #f79440;  
  } 
     

 .horizontal .item{
    text-align: right;
  }







.last__footer{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 17px;
color: #b3b1b1;
font-family: 'Rufina', serif;
font-weight: 400; 
font-size: 12px;
background: #474241;
    min-height: 30px;
}


.nav__last_footer {

}
.nav__list__last_footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav__item__last_footer {
    margin: 18px 0px 18px 3px;
}
.nav__link__last_footer {
    font-family: 'Rufina', serif;
    font-weight: 400; 
    font-size: 12px;
       line-height: 1;
       text-transform: uppercase;
     
    color: #b3b1b1;
    text-decoration: none;
    letter-spacing: -0.01em;
    position: relative;
    padding: 13px;
  
}
.nav__link__last_footer:after {
    position: absolute;
    bottom:8px;
    left: 10px;
    width: calc(100% - 10px * 2);
    height: 2px;
    background-color: #605a58;
   
    display: block;
    content: '';
    opacity: 0;
    transition: .3s;
}
.nav__link__last_footer--active, .nav__link__last_footer:hover {
    font-weight: 700; 
    color: #fff;
}
.nav__link__last_footer--active:after, .nav__link__last_footer:hover:after {
    opacity: 1;
    transform: translateY(0);}


    .last__footer p{
padding-right: 32px;
padding-top: 8px;
letter-spacing: 0.01em;

    }

