body{
    margin: 0;
    padding: 0;
    background-image: url(../images/SEFolio-PSD.jpg);
    background-position: top;
    /* font-family: 'Asap', sans-serif;
    font-family: 'Karla', sans-serif; */
}
.home{
    margin: 0 auto;
    /* padding-top: 34px; */
    /* max-width: 970px; */
    min-height: 635px;
    /* background-image: url(../images/Rectangle_1.png); */
    color: #fff;
}

.home__logo a{
    font-family: 'Asap', sans-serif;
    font-size: 28px;
       
}
.home__logo a{
    color: #fff;
    text-decoration: none;
    

}

.home__logo span{
    color: #2ec06c;
    font-weight: 700;
    
    
}
.home__header{
    padding-top: 70px;
    display: flex;
min-height: 230px;

align-items: center;

}
.home__header h1{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.125;
    margin: 0px 0px;
}

.home__header span{
   font-weight: 700;
}
.home__service__all{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0px 15px;

}

/* .home__service+.home__service{
    margin-left: 15px;
} */

.home__service{
   
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    /* width: 220px; */
    height: 220px;
    border: 1px solid rgb( 255, 255, 255 );

    


}
.home__service__cont{
    display: flex;
    flex-direction: column;
     justify-content: flex-end;
    align-items: center;
    height:100%;
  
    padding-bottom: 17px;


}

.home__service__cont__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb( 255, 255, 255 );
    border-radius: 3px;
    width: 50px;
    height: 50px;
    font-size: 24px;
   
     }
  .home__service__cont__text {
    font-size: 24px;
    font-family: "Karla";
    color: rgb( 255, 255, 255 );
    line-height: 1.875;
    align-items: center;
  padding-top: 15px;
  }

 .home__service__btn{
height: 50px;
width: 100%;
/* background: #27ae60; */
border: 1px solid rgb( 255, 255, 255 );
 }

.about{
    min-height: 585px;
    max-width: 970px;
    margin: 0 auto;
     /* background-image: url(../images/bg_about_me.jpg); */
}
.about__content{
    padding-top: 79px;
    font-family: 'Karla', sans-serif; 
    line-height: 29px;
}
.about__content h1{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    font-size: 30px;

}
.about__content span{
    font-weight: 700;

}
.about__content__btn__all{
display: flex;
justify-content: space-between;
margin: 46px 10px 0px 10px;
 padding: 0px 0px 0px 0px; 

}
.about__content__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Asap";
    color: rgb( 46, 192, 108 );
    border: 1px solid rgb( 46, 192, 108 );
    border-radius: 5px;
    margin: 0px 15px 0px 0px;
    width: 100%;
    height: 58px;
    box-sizing: border-box;
}
.about__content__btn+.about__content__btn{
margin-left: 30px;

}
.about__content__btn:hover{
    color: rgb( 255, 255, 255 );
    border-radius: 25px;
    background-color: rgb( 46, 192, 108 );
}

.servicess{
    min-height: 600px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 82px 0;

}
.servicess__header{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    line-height: 29px;
    color: #202020;
    text-align: center;
}

.servicess__header h1{
    font-weight: 400;
    margin: 14px 0;
    font-size: 30px;
    letter-spacing: 0.03;
}
.servicess__header h1 span{
    font-weight: 700;
}
.servicess__header p{
    margin: 14px 0;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.servicess__header + .servicess__items{
    padding-top: 32px;
}
.servicess__item{
display: flex;
align-items: flex-start;
padding-left:14px; 
padding-bottom: 14px;

}
.servicess__icon{
display: flex;
align-items: center;
justify-content: flex-start;
flex-shrink: 0;
margin-top: 10px;
 
}
.servicess__text{
    padding-left:30px;
}
.servicess__text p{
    font-family: 'Karla', sans-serif;;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #202020;
    letter-spacing: 0.03em;
    
    margin-top: 0px;

}
.servicess__text h2{
   
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #202020;
    /* text-align: center; */
    letter-spacing: 0.03em;
}



.servicess__cont{
    text-align: center;

}
.servicess__kart{
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* border: 1px solid #333; */

}

.clients{
    min-height: 350px;
    max-width: 1300px;
    margin: 0 auto;
     /* background-image: url(../images/bg_clients.jpg); */
     background-repeat: no-repeat;
     padding: 72px 0px 140px;
     font-family: 'Asap', sans-serif;
     font-size: 18px;

}
.container--clients{
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.work{
min-height: 1065px;
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Asap', sans-serif;
    text-align: center;
}
.work__kard__all{
min-height: 320px;
background: #eee;
text-align: center;
border-radius: 0px 0px 10px 10px;

}

.work__kard__title{
    min-height: 70px;

}   
.work__kard__btn {
display: none;

}

.feelback{
    min-height: 300px;
    max-width: 1300px;
    margin: 0 auto;

    text-align: center;
    color: #fff;
    display: flex;
    align-items: center; 

}


    .container--hire_me{
    max-width: 1300px;
    min-height: 635px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    
    }
  
    .project{
    max-width: 940px;
    margin: 0 auto;
     display: flex; /*text-align: center; конфликт ???? */
    
     align-items: center;
    
    
    }
    .first{
        flex-direction: column;
    
    }
    .project h1{
        font-size: 23pt;
        line-height: 40pt;
        font-weight: 400;
        padding-top: 85px;
        margin: 0px;
       
    }
    
    
    .project span{
        
        font-weight: 700;
        color:#2ec06c;
        
    }
    .project p{
        font-family: 'Karla', sans-serif;
        font-size: 12pt;
        line-height: 30pt;
        padding-top: 9px;
        margin: 0px;
    
    }
    .second{
        padding-top: 46px;
    }
    .group{
        width: 33.3333333333%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 14px;
    
    }
    
    .solial{
        box-sizing: border-box;
        height: 140px;
        width: 140px;
        
        padding: 10px;
        margin-bottom: 19px;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 52px;
       
    }
    .facebook{
        color: #3b5998;
        border:1px solid #3b5998;
        border-radius:5px;
    }
    .facebook a{
        color: #3b5998;
        padding: 60px;
    }
    .facebook:hover {
        background-color: #3b5998;
    }
    .facebook:hover a {
         color: #fff;
    }
    
    .twitter{
       
        border:1px solid #00aced;
        border-radius:5px;
    }
    .twitter a{
        color:  #00aced;
        padding: 50px;
    }
    .twitter:hover {
        background-color: #00aced;
    }
    .twitter:hover a {
        color: #fff;
    }
    
    
    .instagram{
      
        border:1px solid #517fa4;
        border-radius:5px;
        font-size: 60px;
    }
    .instagram a{
        color: #517fa4;
        padding: 60px;
    }
    .instagram:hover {
        background-color: #517fa4;
    }
    .instagram:hover a {
        color: #fff;
    }
    
    .dribbble{
       
        border:1px solid #ff0084;
        border-radius:5px;
    }
    .dribbble a{
        color: #ff0084;
        padding: 50px;
    }
    .dribbble:hover {
        background-color:  #ff0084;
    }
    .dribbble:hover a {
        color: #fff;
    }
    
    
    .form{
        width: 66.6666666667%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 7px;
       
        
    }
    .form input{
        border-radius: 5px;
        padding: 15px;
        border: 1px solid #bababa;
        margin-bottom: 18px;
        width: 300px;
        box-sizing: border-box;
        background: none;
        font-size: 13pt;
        font-style: italic;
        letter-spacing: -0.02em;
    }
    .form input:focus{
        outline: none; /*!!!!!!!*/
        border: 1px solid green;
        border-radius: 5px;
    
    }
    
    
    
    
    .form__textarea{
    display: flex;
    flex-direction: row;
    margin-bottom: 19px;
    
    }
    
    
    .form  textarea{
        border-radius: 5px;
        min-width: 580px;
        height: 160px;
        border: 1px solid #bababa;
        border-radius:  5px  0px 0px 5px;
        border-right: none;
        padding: 15px;
       
        box-sizing: border-box;
        font-size: 13pt;
        font-style: italic;
        background: none;letter-spacing: -0.02em;
        resize: none;
    }
    
    .btn {
        border: none;
        background: none;
        text-decoration: none;
        cursor: pointer;
        display: block;
       
        background-color: #2ec06c; 
        border-radius:  0px 5px 5px 0px ;
        color: white;
        font-size: 18px;
       padding: 60px 10px;
        transition: .3s;
    }
    .btn:hover {
        background-color: #249153;
    }

    .footer{
min-height: 50px;
width: 100%;
/* background: #eee; */
border: 1px solid #333;
/* display: flex;
justify-content: flex-start;
align-content: center; */

    }
    
   